/* === GLOBAL =================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size :62.5%;
  font-family: 'Commissioner', sans-serif;
  /* COLOR STYLES */
  --Moderate-cyan: hsl(176, 50%, 47%);
  --Dark-cyan: hsl(176, 72%, 28%);
  --Dark-gray: hsl(0, 0%, 48%);
  --Gray-border: 2px solid rgba(0, 0, 0, 0.116);
  --soft-shadow: #2121212c;
}

body {
  font-size: 1.6rem;
  background:#f0f0f0;
}

section {
  background: white;
  margin-bottom: 3rem;
  border-radius: 8px;
}

/* button global settings */

button {
  border-radius: 32px;
  border: none;
  
  width: 20rem;
  padding: 1.5rem 0;

  font-size: 1.6rem;
  font-weight: 700;

  cursor: pointer;
}

button.cyanButton,
input.cyanButton {
  transition: .3s all;
  background: var(--Moderate-cyan);
  color: white;
}

button.cyanButton:hover {
  filter: brightness(1.05);
}

/* global links settings*/

a {
  text-decoration: none;
}

/* global radio settings */

input[type="radio"] {
  cursor: pointer;
}


