/* === HEADER =================== */
header.mainHeader {
    background: url('../images/image-hero-desktop.jpg') no-repeat center;
    background-size: cover;
    color: white;
}

.header-container {
    width: min(144rem, 100%);
    height: 40rem;
    margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 30%;
    margin: 0 auto;
}

nav.mobileNav {
    display: none;
}

header .header-container nav span a{
    margin-right: 2rem;
    font-weight: 500;
    color: white
}
/* === MAIN =================== */
main {
    width: min(72rem, 90%);
    margin: -10rem auto 0;
}
/* === SECTION PRINCIPAL =================== */
.mainSection {
    text-align: center;
}

.mainSection > img {
    margin-top: -3rem;
}

.mainSection h2 {
    font-size: 3rem;
    margin-bottom:  1.5rem;
}

.mainSection > p {
    color: var(--Dark-gray);
}

.mainSection .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 4.5rem;
    padding-bottom: 4rem;    

}


.mainSection .buttons .bookmark {
    display: flex;
    align-items: center;

    background: hsl(0, 2%, 91%);
    border-radius: 32px;
    width: 15rem;
}

.mainSection .buttons .bookmark p {
    margin-left: 1rem;
}
/* === DATA SECTION  =================== */
.statistic {
    padding-bottom: 3rem;
}

.datas {
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
}

.datas .data {
    width: 33%;
    margin: 3rem 0;
    text-align: center;
}

.datas .data p:first-child {
    font-size: 3rem;
    font-weight: 700;
    color: #000;
}

.datas .data p {
    color: var(--Dark-gray);
    font-size: 1.4rem;
}

.datas .data.amount {
    border-right: var(--gray-border);
    border-left: var(--gray-border);
}

.progress {
    width: 90%;
    margin: 0 auto;
    background: rgb(211, 211, 211);
}

.progress .concluded {
    width: 80%;
    background: var(--Moderate-cyan);
    color: var(--Moderate-cyan);
}

.progress, .concluded {
    border-radius: 32px;
}
/* === PROJECT SECTION  =================== */
section.aboutProject {
    padding: 3rem 1.5rem;
}

.projectDescription  h2 {
    margin-bottom: 4rem;
}

.projectDescription > p {
    color: var(--Dark-gray);
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 2;
}

.packs .available {
    border: 2px solid rgba(184, 184, 184, 0.349);
    border-radius: 8px;
    padding: 2rem 1.5rem;
    margin-bottom: 3rem;
}

.packs .available header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.packs .available header p {
    color: var(--Moderate-cyan);
}

.packs .available > p {
    margin: 2rem 0;
    line-height: 2;
    color: var(--Dark-gray);
    font-weight: 500;
}

.packs .available .select {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.packs .available .select .wave span:first-child {
    font-weight: 700;
    font-size: 3rem;
    margin-right: .8rem;
}

.packs .available.unavailable {
    opacity: 0.4;
}

.packs .available.unavailable .select button {
    background: rgb(88, 88, 88);
    color: white;
    cursor: initial;
}

/* === MODAL - BACK THIS PROJECT ============ */
/*== GENERAL MODAL ==*/
.modal-overlay {
    position: fixed;
    z-index: 9999;
    inset: 0;
   
    width: 100vw;
    height: 100vh;
    
    background: rgba(0, 0, 0, 0.418);
    border-radius: 0;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-overlay .modal {
    margin: min(20rem, 10%) auto 0;
    padding: 1rem ;

    max-height: min(80rem, 90%);
    width: min(90rem,90%);
    background: #f0f0f0;
    border-radius: 8px;
}

.modal-overlay .modal > button#closeModal {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    width: 100%;
}

.modal-overlay .modal header > p {
    margin: 3rem 0;
    color: var(--Dark-gray);
}
/*== MODAL: PACK GROUPS ==*/
.modal-overlay .modal .packs .available {
    display: flex;
}

.modal-overlay .modal .packs .available .select-pack  {
  width: 10rem;
  height: 100%;
  margin-top: .5rem;
}

.modal-overlay .modal .packs .available .select-pack > input {
    height: 2rem;
    width: 80%;
}

.modal-overlay .modal .packs .available .pack-description > p {
    line-height: 2;
}

.pack-description #mobile-left {
    display: none; /* ESSE CSS É PARA ESCONDER UM P QUE SÓ DEVE APARECER NAS VERSÕES DE CELULAR E TABLETS*/
}
/*== modal: AVAILABLE PACK EXAMPLE ==*/
.modal-overlay .modal .packs .available .pack-description .header-pack-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-overlay .modal .packs .available .pack-description .header-pack-description .price {
    display: flex;
    align-items: center;
}

.modal-overlay .modal .packs .available .pack-description .header-pack-description .price > p {
    color: var(--Moderate-cyan);
    font-weight: 500;
}

.modal-overlay .modal .packs .available .pack-description .header-pack-description .price > h3 {
    margin-right: 3rem;
}
/*== MODAL: PAYMENT AREA ==*/
.pledge {
    border-top: 2px solid rgb(204, 204, 204);
}

.pledge,
.pledge .payment-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pledge {
    display: none;
}

.pledge > p {
    color: var(--Dark-gray);
}

.pledge > p,
.pledge .payment-buttons {
    margin-top: 3rem;
}

.pledge .payment-buttons > input,
.pledge .payment-buttons .money-value > input  {
    border-radius: 32px;
    border: 2px solid rgb(204, 204, 204);
    
    width: 10rem;
    padding: 1.5rem 0;

    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
}

.pledge .payment-buttons .money-value {
    display: flex;
    align-items: center;
}

.pledge .payment-buttons .money-value > p {
    color: var(--Dark-gray);
    font-weight: 700;
    font-size: 2rem;
    margin: 0 -3rem 0 2rem;
    z-index: 1;
}

.pledge .payment-buttons > input:focus {
    border: 1px solid black;
    outline: none;
}
.pledge .payment-buttons > button{
    width: 15rem;
    margin-left: 1.5rem;
}

.pledge .payment-buttons .cyanButton {
    width: 14rem;
    margin-left: 2rem;
}

/* === MODAL: PAYMENT COMPLITED ===*/
.modal-overlay .modal#checked-modal {
    text-align: center;
    padding: 3rem;
    width: min(50rem,90%);
}

.modal-overlay .modal#checked-modal img,
.modal-overlay .modal#checked-modal article > h2 {
    margin-bottom: 2rem;
}

.modal-overlay .modal#checked-modal article > p {
    line-height: 2;
}

.modal-overlay .modal#checked-modal > button {
    width: 15rem;
    margin: 1rem 0;
}
/* === RESPONSIVE ========================== */
@media (max-width: 600px) {
   
    /* === header === */
    header.mainHeader {
        background: url('./images/image-hero-mobile.jpg');
    }
   
    nav.desktopNav {
        display: none;
    }

    nav.mobileNav {
        display: block;
    }
    /* === SECTION PRINCIPAL === */
    .mainSection .buttons .bookmark {
        background: #FFF;
        border-radius: 0;
        width: auto;
    }

    .mainSection .buttons .bookmark p {
        display: none;
    }
    /* DATA SECTION === */
    .datas {
        margin-right: 0;
        flex-wrap: wrap;
    }
    
    .datas .data {
        width: 100%;
    }

    /* PROJECT SECTION === */
    .packs .available .select {
        display: block;
    }

    .packs .available .select .wave {
        margin-bottom: 2.5rem;
    }
    /* MODAL - BACK THIS PROJECT === */
    .modal-overlay .modal{
        overflow-y: scroll;
    }

    .modal-overlay .modal .packs .available > #pack-option {
        width: 30%;
      }

    .modal-overlay .modal .packs .available .pack-description .header-pack-description .price {
        display: inline-block;
    }

    .modal .packs .available .pack-description .header-pack-description .price > h3 {
        margin-bottom: 1.2rem;
    }
    /* MODAL: PAYMENT AREA ===*/
    .pack-description #mobile-left {
        display: block;
        font-weight: 700;
        font-size: 2rem;
    }

    .header-pack-description > p {
        display: none;
    }

    .pledge {
        flex-wrap: wrap;
    }

    .pledge > p,
    .pledge .payment-buttons{
        width: 100%;
        text-align: center;
    }

    
}